<div class="col-md-3">
    <div class="form-group">
        <label class="form-label"><i class="fas fa-user"></i> Id</label>
        <input type="text" class="form-control" name="uploaded_by_name" readonly style="background-color: #e9ecef;" value="{{user_obj.user_id}}">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label class="form-label"><i class="fas fa-user"></i> Name</label>
        <input type="text" class="form-control" name="uploaded_by_name"  readonly style="background-color: #e9ecef;" value="{{user_obj.user_name}}">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label class="form-label"><i class="fas fa-envelope"></i> Email</label>
        <input type="email" class="form-control" name="uploaded_by_email" readonly style="background-color: #e9ecef;" value="{{user_obj.user_email}}">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label class="form-label"><i class="fas fa-phone"></i> Contact</label>
        <input type="text" class="form-control" name="uploaded_by_contact" readonly style="background-color: #e9ecef;" value="{{user_obj.user_phone}}">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label class="form-label"><i class="fas fa-user-tag"></i> Role</label>
        <input type="text" class="form-control" name="uploaded_by_role" readonly style="background-color: #e9ecef;" value="{{user_obj.user_role}}">
    </div>
</div>
